<%= content_for :sub_header do %>
    <h1 class="medium my-container page title">
      Оформление заказа
    </h1>
<% end %>

<div class="row container">
  <div class="col-md-6 create-order">
    <%= render partial: 'user_data/form', locals: { context: 'order' } %>
  </div>
  <div class="row col-md-6">
    <% if @order.order_items.count > 0 %>
        <div class="col-md-6 order-summary">
          <%= render partial: 'orders/summary', locals: {order: @order} %>
          <%= session[:personalOrder] %>
        </div>
    <% end %>
    <% if @personal_order %>
        <div class="col-md-6 personal-order-summary">
          <%= render partial: 'personal_order/personal_order', locals: {personal_order: @personal_order} %>
        </div>
    <% end %>
  </div>
</div>