<% content_for :modals do %>
    <%= render partial: 'store/productModal' %>
<% end %>

<% content_for :javascripts do %>
    <script src="/vendor/lightbox.min.js"></script>
<% end %>

<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/vendor/lightbox.min.css">
<% end %>

<% content_for :header do %>
    <%= render partial: '/header', locals: {root: true} %>
<% end %>

<%= content_for :sub_header do %>
    <h1 class="medium my-container page title">
      Добро пожаловать в Мятный Домик
    </h1>
<% end %>

<div class="main-page">
  <section class="intro small container">
    <p>
      "Мятный Домик" – обитель уютных и милых деревянных украшений ручной работы.
      Здесь каждое изделие неповторимо и имеет душу:
      Здесь вы найдете что-то простое, трогательное и глазастое, чуть реже - что-то фентезийное, волшебное и сказочное.
      Здесь оживают и обретают свои истории все персонажи, изображенные на моих работах.
    </p>
  </section>

  <section class="store">
      <div class="products-image">
        <p>
          Взгляните на некоторые мои работы. Какая-то байда, они белые и пушистые!!!
        </p>
        <%= link_to store_path, class: 'btn btn-success' do %>
            Перейти в каталог <span class="arrow right long brown"></span>
        <% end %>
      </div>
  </section>

  <section class="personal">
    <div class="personal-image">
      <p class="personal-order">
        Вы также можете оставтиь заявку на выполнение индивидуального заказа.
        <br/>
        <button class="btn btn-success">Воплотить мечты</button>
      </p>
    </div>
  </section>

  <section class="reviews">
    <div class="text-container">
      <h2>Отзывы:</h2>
      <%= render partial: @reviews %>
      <%= link_to 'Все отзывы...', reviews_path, class: 'link' %>
    </div>
  </section>

  <section class="author">
      <div class="author-image">
      <p>Подробнее о магазине и об авторе:</p>
      <a href="<%= about_path %>" class="btn btn-primary">Узнать больше</a>
      </div>
  </section>
</div>

