<%= render partial: '/sub_header', locals: {title: 'Индивидуальные заказы' } %>

<section class='medium container personal-order'>

  <p>Если Вы не нашли в нашем каталоге ничего подходящего, то здесь вы можете оформить заказ по вашим индивидуальным предпочтениям. Пожалуйста, подробно опишите, что бы Вы хотели получить: сюжет, цвета, материалы, размеры или даже ориентировочную сумму, которую вы готовы потратить.</p>
  <p>Изделия на заказ имеют более длительные сроки изготовления и отправки, нежели при покупке изделия из наличия, в зависимости от сложности и наличия очереди, создание вашего заказа может занять от 5 дней до нескольких недель. Пожалуйста, учитывайте это при оформлении заявки или укажите крайний срок в комментарии.</p>
  <p>Индивидуальные заказы принимаются только по 100% предоплате, как только будет согласована финальная стоимость. Сначала обдумайте свою покупку, обсудите все условия, потом оплачивайте. Предоплата за индивидуальные заказы не возвращается в случае, если вы просто передумали покупать.</p>
  <p>Каждый заказ оговаривается лично, поэтому, пожалуйста, указывайте актуальный и наиболее удобный для Вас способ связи.</p>

  <p>Обращаем ваше внимание на то, что мы беремся исполнять не каждый заказ: существует множество ограничений, связанных с техниками изготовления, сроками и наличием материалов.</p>

  <p>Любые дополнительные вопросы не стесняйтесь задавать по телефону или по почте.</p>

  <p>Читайте подробнее про условия и способы оплаты и доставки.</p>

  <%= form_tag '', multipart: true, class: 'make-order' do %>
      <div class="field">
        <%= text_area :order, :comment, required: true %>
      </div>
      <div class="field">
        <%= render partial: 'UI/imageUpload', locals: {max: 3, name: 'images'} %>
      </div>
      <div class="field">
        <%= submit_tag 'Заказать' %>
      </div>
  <% end %>

</section>