<%= render partial: '/sub_header', locals: {title: 'Индивидуальные заказы' } %>

<section class='text-container personal-order'>

  <p>Информация по заказу...</p>

  <%= form_tag '', multipart: true do %>
      <div class="field">
        <%= text_area :order, :comment, required: true %>
      </div>
      <div class="field">
        <%= file_field :order, :image %>
      </div>
      <div class="field">
        <%= submit_tag 'Заказать' %>
      </div>
  <% end %>

</section>