<% if not defined?(context) %>
    <div class="special full">

      <div class="img-container rectangle">
        <div class="container">
          <img class="cover" src="<%= image_for special %>" alt="<%= special.title %>">
        </div>
      </div>

      <h1 class='font-accent' <%= editable 'special[name]', url_for(special) %>><%= special.title %></h1>
      <p class='description' <%= editable 'special[description]', url_for(special) %>><%= special.description %></p>

      <%= render partial: 'products/grid', locals: {grid_size: 'four wide', products: special.tag.products} %>
    </div>
<% elsif context == 'thumb' %>
    <%= link_to special, remote: true do %>
        <div class="special thumb clear">
          <h1 class='font-accent'><%= special.title %></h1>

          <div class="img-container">
            <img src="<%= image_for special %>" alt="<%= special.title %>" class="cover"/>
          </div>
          <div class="description">
            <%= truncate(special.description, length: 175) %>
          </div>
        </div>
    <% end %>
<% end %>