<%= render partial: '/sub_header', locals: {title: 'Профиль' } %>

<div class="profile medium container">
<% if !current_user.user_data.nil? %>
  <h3 class="h3">Добро пожаловать, <%= current_user.user_data.name %></h3>

  <%= render partial: current_user.user_data %>

  <div class="row user-orders">
    <% current_user.user_data.orders.each do | order | %>
      <div class="order-cnt col-md-6">
        <%= render partial: 'orders/summary', locals: {order: order}  %>
      </div>
    <% end %>
  </div>
<% else %>
    <%= render partial: 'user_data/form' %>
<% end %>
</div>