<% if not defined?(context) %>
    <div class="collection full">

      <div class="img-container">
        <%= render partial: 'admin/upload_zone' if admin_signed_in? %>
        <img class="cover" src="<%= image_for category %>" alt="<%= category.name %>">
      </div>

      <h1 class='font-accent' <%= editable 'name', category_url(category) %>><%= category.name %></h1>
      <p class='description' <%= editable 'description', category_url(category) %>><%= category.description %></p>

      <%= render partial: 'products/grid', locals: {grid_size: 'four wide', products: category.products} %>
    </div>
    <%= link_to 'Удалить', category_url(@category), method: 'delete', data: {confirm: 'Точно?'} if admin_signed_in?%>
<% elsif context == 'thumb' %>
    <%= link_to category_url(category), remote: true do %>
        <div class="collection thumb">
          <h1 class='font-accent'><%= category.name %></h1>
          <div class="rectangle">
            <div class="container">
              <img class="cover" src="<%= image_for category %>" alt="<%= category.name %>">
            </div>
          </div>
        </div>
    <% end %>
<% end %>