<% if not defined?(context) %>
    <div class='product' data-id='<%= product.id %>'>
      <div class="product-data">
        <img class="product-image cover" src="<%= images_for(product)[0] %>" alt="<%= product.name %>"/>
        <div class="product-info">
          <h3><%= product.name %></h3>
          <p class="price font-accent"><%= number_to_currency(product.price, precision: 0, locale: :ru) %></p>
          <span class="link">Подробнее <span class="arrow right brown long"></span>
        </div>
      </div>
    </div>
<% elsif context == 'cart' %>
    <div class="cart-product" data-id = '<%= product.id %>' data-type="<%= type %>">
      <div class='img-container'>
        <img class = 'cover' src="<%= images_for(product)[0] %>" alt="<%= product.name %>"/>
      </div>
      <div class="details">
        <h4 class="title">
          <%= product.name %>
          <%= link_to cart_path(id: product.id, type: type), remote: true, method: 'delete' do %>
            <img class='remove' src="<%= image_url 'cross_white.png' %>" alt=""/>
          <% end %>
        </h4>
        <%= render partial: 'UI/counter', locals: {val: amounts[product.id]} %>
        <span class='price'><%= product.price %></span>
      </div>
    </div>
<% end %>