<% content_for :javascripts do %>
    <%= javascript_include_tag 'pages/hot' %>
<% end %>

<div class="ui hot container clear">
  <div class="collection-cnt">
    <div class="collection image-container" style='background-image: url(<%= image_for @collection %>)'></div>
    <div class="collection-info">
      <h2><%= @collection.name %></h2>

      <p><%= @collection.description %></p>
    </div>
    <div class="button-container">
      <a href="<%= url_for @collection %>" class='button next-collection' data-remote="true">Следующая коллекция</a>
    </div>
  </div>
  <div class="products-cnt">
    <%= render partial: @products %>
    <a href="<%= products_url %>">
      <div class="button-container">
        <span class='link-to-store'>Просмотр каталога →</span>
      </div>
    </a>
  </div>
  <div class="special-cnt">
    <% if @special %>
        <div class="special image-container" style='background-image: url(<%= image_for @special %>)'></div>
        <div class="special-info">
          <h2><%= @special.title %></h2>

          <p><%= @special.description %></p>
        </div>
        <div class="button-container">
          <a href="<%= url_for @special %>" class='button next-specials' data-remote="true">Следующая акция</a>
        </div>
    <% end %>
  </div>
</div>
<%= render partial: 'products/productModal' %>
<% content_for :javascripts do %>
    <%= render partial: 'products/json', locals: {products: @products} %>
<% end %>