<% content_for :javascripts  do %>
    <%= javascript_include_tag 'pages/store' %>
<% end %>

<div class = 'store-controls'>
  <%= link_to controller: 'pages', action: 'payment', remote: true do %>
      <h2 class = 'store-btn'>Оплата и доставка</h2>
  <% end %>
  <div class = 'categories'>
    <%= link_to controller: 'products', action: 'index', remote: true do %>
        <h2 class = 'store-btn'>Товары</h2>
    <% end %>
    <ul class = 'dropdown tag-buttons'>
      <%= render @tags %>
    </ul>
  </div>
  <div class = 'collections'>
    <h2 class = 'store-btn'>Коллекции</h2>
    <ul class = 'dropdown collection-buttons'>
      <%= render partial: @collections, locals: { context: 'store' } %>
    </ul>
  </div>
  <%= link_to controller: 'pages', action: 'specials', remote: true do %>
      <h2 class = 'store-btn'>Акции</h2>
  <% end %>
  <%= link_to controller: 'pages', action: 'uniq', remote: true do %>
      <h2 class = 'store-btn'>Индивидуальные заказы</h2>
  <% end %>
  <h2 class = 'store-btn show-cart'>Корзина</h2>
</div>
<div class = 'store-controls store-controls__sub'>
  <ul class = 'tags'>
    <%= render @tags %>
    <%= render partial: @collections, locals: { context: 'store' } %>
  </ul>
</div>
<div class = 'store-content'><%= render 'store' %></div>

<%= render partial: 'products/productModal' %>
<%= render partial: 'products/cartModal', locals: {cart: @cart} %>
