<%= form_tag reviews_path, multipart: true, class: 'new-review' do %>
    <%= token_tag %>

    <h1 class="info font-accent">Оставить отзыв</h1>
    <div class="field">
      <%= text_field :review, :author, placeholder: 'Имя', required: true %>
    </div>

    <div class="field">
      <%= text_area :review, :review, placeholder: 'Отзыв', required: true %>
    </div>

    <div class="field">
      <%= render partial: 'UI/imageUpload', locals: {max: 1, name: 'image[file]'} %>
    </div>

    <div class="field">
      <%= submit_tag 'Оставить отзыв' %>
    </div>

<% end %>