<nav>
  <ul>
    <li class = 'cart'>
      <%= link_to '/hot' do %>
          <%= image_tag 'cart.png' %>
          <div class="items-counter <%= show_cart_counter %>"><%= @cart.count %></div>
      <% end %>
    </li>
    <li class = 'logo'>
      <%= link_to root_path do %>
          <%= image_tag 'logo.png' %>
      <% end %>
    </li>
    <li>
      <%= link_to '/hot' do %>
          <%= image_tag 'profile.png' %>
      <% end %>
    </li>
  </ul>
</nav>