<header class="medium container <%= 'root' if controller_and_action?('pages', 'root') %>">
  <nav>
    <div class="left-nav">
      <div class="links-cnt">
        <%= header_link '/blog', 'index', 'Блог' %><br/><!--
     --><%= header_link '/store', 'index', 'Каталог' %><br/><!--
     --><%= header_link '/reviews', 'index', 'Отзывы' %>
      </div>
    </div>

    <div class='logo'>
      <%= link_to root_path do %>
          <%= image_tag 'logo.png', title: 'На главную', alt: 'На главную' %>
      <% end %>
    </div>

    <div class="right-nav">
      <div class="links-cnt">
        <%= header_link '/pages', 'about', 'О магазине' %> <br/>
        <%= header_link '/pages', 'uniq', 'Заказы' %> <br/>
        <%= header_link '/pages', 'payment', 'Оплата и доставка' %>
      </div>
    </div>
  </nav>
  <span class='cart-icon'>
    <%= image_tag 'cart.png', title: 'Корзина', alt: 'Корзина' %>
    <div class="items-counter <%= show_cart_counter %>"><%= @cart.count %></div>
  </span>

</header>
