<header class="medium container <%= 'big' if defined?(big) %>">
  <nav>

    <div class="left-nav">
      <div class="links-cnt">
        <%= link_to 'Блог', blog_path %><br/><!--
     --><%= link_to 'Каталог', store_path %><br/><!--
     --><%= link_to 'Отзывы', reviews_path %>
      </div>
    </div>

    <div class='logo'>
      <%= link_to root_path do %>
          <%= image_tag 'logo.png', title: 'На главную', alt: 'На главную' %>
      <% end %>
    </div>

    <div class="right-nav">
      <div class="links-cnt">
        <%= link_to 'О Магазине', about_path %> <br/>
        <%= link_to 'Заказы', personal_order_path %> <br/>
        <%= link_to 'Оплата и доставка', reviews_path %>
      </div>
    </div>
  </nav>
  <span class='cart-icon'>
    <%= image_tag 'cart.png', title: 'Корзина', alt: 'Корзина' %>
    <div class="items-counter <%= show_cart_counter %>"><%= @cart.count %></div>
  </span>

</header>
