<header class="medium my-container <%= 'root' if controller_and_action?('pages', 'root') %>">
  <nav>
    <div class="left-nav">
      <div class="links-cnt">
        <%= header_link '/blog', 'index', 'Блог' %><br/><!--
     --><%= header_link '/store', 'index', 'Каталог' %><br/><!--
     --><%= header_link '/reviews', 'index', 'Отзывы' %>
      </div>
    </div>

    <div class='logo'>
      <% if !current_page?(root_url) %>
          <%= link_to root_path do %>
              <%= image_tag 'logo.png', title: 'На главную', alt: 'На главную' %>
          <% end %>
      <% else %>
          <%= image_tag 'logo.png', title: 'На главную', alt: 'На главную' %>
      <% end %>
    </div>

    <div class="right-nav">
      <div class="links-cnt">
        <%= header_link '/pages', 'about', 'О магазине' %> <br/>
        <%= header_link '/pages', 'uniq', 'Заказы' %> <br/>
        <%= header_link '/pages', 'payment', 'Оплата и доставка' %>
      </div>
    </div>
  </nav>

  <div class="icons">
    <% if pending_order? %>
    <span class="order-icon">
      <%= link_to new_order_path do %>
        <img src="/icons/box.svg" alt="Оформление заказа" title="Оформление заказа">
      <% end %>
    </span>
    <% end %>

    <span class="profile-icon">
      <%= link_to profile_path do %>
        <img src="/icons/user.svg" alt="Личный кабинет" title="Личный кабинет">
      <% end %>
    </span>

    <span class='cart-icon open-modal <%= 'hide' if @cart.count == 0 %>' data-modal="cart">
      <%= image_tag 'cart.png', title: 'Корзина', alt: 'Корзина' %>
      <div class="items-counter <%= show_cart_counter %>"><%= @cart.count %></div>
    </span>
  </div>
</header>
