<aside class="cart modal">
  <header class="close-cart">Корзина</header>
  <%= image_tag 'cross.png', class: 'close-cart' %>
  <div class="book">
    <div class='empty-cart-message hide'>
      <h3>Ваша корзина пуста!</h3>

      <div class='make-order close-cart'>
        Закрыть корзину
      </div>
    </div>
    <div class='section stocked'>
      <h3>Товары в наличии</h3>

      <div class="products">
        <%= render partial: 'products/product', collection: cart.products('stocked'), locals: {context: 'cart', amounts: cart.amounts('stocked'), type: 'stocked'} %>
      </div>
    </div>
    <div class='section copy'>
      <h3>Повторы</h3>

      <div class="products">
        <%= render partial: 'products/product', collection: cart.products('copy'), locals: {context: 'cart', amounts: cart.amounts('copy'), type: 'copy'} %>
      </div>
    </div>
    <div class='checkout'>
      <div class='total-container'>
        <span>Общая сумма ваших покупок:</span>
        <span class='total'><%= cart.total %></span>
      </div>
      <%= link_to new_order_path do %>
          <div class='make-order'>
            Заказать
          </div>
      <% end %>
    </div>
  </div>
</aside>