<div class="show-product-modal clear">
  <h2 class='modal-product-name'>
    <span class="name"></span>
    <% if admin_signed_in? %>
        <span class="link open-modal" data-modal="product-edit" data-arg="0">Редактировать</span>
    <% end %>
  </h2>

  <div class="slider-container">
    <div class="slider"></div>
    <div class="slider-nav"></div>
  </div>

  <div class='details'>
    <p class="description"></p>
    <div class="buy-panel">
      <p class='amount-info'>в наличии: <span class='stock-amount'>0</span></p>
      <span class="price"> 0 </span>
      <%= render partial: 'UI/counter', locals: {id: 'buy-counter'} %>
      <%= link_to 'Купить', new_cart_path(id: nil), remote: true, class: 'btn buy-button', data: {target: '#buy-counter'} %>
    </div>
    <button class="btn open-modal" data-modal="product-buy">Заказать</button>
    <div class="product-tags"></div>
  </div>
</div>

<div class="buy-product-modal clear">
  <button class="btn open-modal" data-modal="product-show">Вернуться к просмотру</button>
  <div class="information">
    <p>Повтор изделия - это изготовление похожей работы индивидуально для Вас. Обратите внимание: все изделия
      магазинчика создаются вручную, а потому полная копия невозможна и не приветствуется. Мы стараемся делать каждую
      вещь уникальной.</p>

    <p>Изделия на заказ имеют более длительные сроки изготовления. В зависимости от сложности и наличия очереди,
      создание вашего заказа может занять от 3 дней до нескольких недель. Пожалуйста, учитывайте это при оформлении
      заявки или укажите крайний срок в комментарии.</p>

    <p>Каждый заказ оговаривается лично, поэтому, пожалуйста, указывайте актуальный и наиболее удобный для Вас способ
      связи.</p>

    <p>Любые дополнительные вопросы не стесняйтесь задавать по телефону или по почте.</p>

    <p>Читайте подробнее про условия и способы оплаты и доставки.</p>


    <p>Не забудьте оставить ваши пожелания:</p>
    цвета, оформление или что-то другое, что Вы захотите добавить.

    <p>Этот товар есть в наличии, Вы можете его купить или заказать повтор с учетом ваших предпочтений.</p>

  </div>
  <div class="order-panel">
    <span class="price" <%= editable 'price', '#' %> > 0 </span>
    <%= render partial: 'UI/counter', locals: {id: 'order-counter'} %>
    <%= link_to 'Заказать повтор', new_cart_path(id: nil), remote: true, class: 'btn order-button', daыta: {target: '#order-counter'} %>
  </div>
</div>

<% if admin_signed_in? %>
<div class="edit-product-modal clear">
  <div class="edit-attributes">
    <h2 class='modal-product-name' <%= editable 'name', '#' %> ></h2>
    <div class="description" <%= editable 'description', '#' %> ></div>
    <div>В наличии: <span class="stock" <%= editable 'stock', '#' %> >0</span></div>
    <div>Цена: <span class="price" <%= editable 'price', '#' %> >0</span></div>
    <div>Коллекция:
      <input id="collection" list="known-collections">
      <datalist id="known-collections">
        <% Category.all.each do | collection | %>
            <option value="<%= collection.name %>"></option>
        <% end %>
      </datalist>
    </div>
    <div>Тэги:</div>
    <select id="tags" multiple="true">
      <% Tag.all.each do | tag | %>
          <option value="<%= tag.name %>"><%= tag.name %></option>
      <% end %>
    </select>
  </div>
  <div class="edit-images">
    <div class="upload-zone">
        Добавить фотографии
        <%= render partial: 'admin/upload_zone' if admin_signed_in? %>
    </div>
    <div class="save-order">
      Сохранить порядок
    </div>
    <div class="images"></div>
  </div>
</div>
<% end %>