<div class="show-product-modal clear">
  <div class="slider-container">
    <div class="prev-image"><- Prev</div>
    <div class="next-image">Next -></div>
    <div class="slider"></div>
    <div class="slider-nav"></div>
  </div>

  <div class='container details'>
    <h2>
      <span class="name"></span>
      <% if admin_signed_in? %>
          <span class="link open-modal" data-modal="product-edit" data-arg="0">Редактировать</span>
      <% end %>
    </h2>
    <p class="description"></p>
    <div class="buy-panel row">
      <div class="col-md-6 text-xs-right">
        в наличии: <span class='stock-amount'>0</span> <br>
        <span class="price"></span>
        <%= render partial: 'UI/counter', locals: {id: 'buy-counter'} %>
      </div>
      <div class="col-md-6 text-xs-left">
        <%= link_to 'Купить', new_cart_path(id: nil), remote: true, class: 'btn btn-lg buy-button', data: {target: '#buy-counter'} %>
        <p class="hide buy-success-msg">Товар добавлен в <span class="open-modal link" data-modal="cart">корзину</span></p>
      </div>
    </div>
    <p>Если вы хотите похожий товар, то вы можете <span class="link open-modal" data-modal="product-buy">заказать повтор</span></p>
    <h3>Другие товары:</h3>
    <div class="product-tags"></div>
  </div>
</div>

<div class="buy-product-modal clear">
  <button class="btn open-modal" data-modal="product-show">&larr; Вернуться к просмотру</button> <br>
  <div class="information">
    <h2 class="h2">Пожалуйста, ознакомьтесь со следующей информацией </h2>
    <p>Повтор изделия - это изготовление похожей работы индивидуально для Вас. Обратите внимание: все изделия
      магазинчика создаются вручную, а потому полная копия невозможна и не приветствуется. Мы стараемся делать каждую
      вещь уникальной.</p>

    <p>Изделия на заказ имеют более длительные сроки изготовления. В зависимости от сложности и наличия очереди,
      создание вашего заказа может занять от 3 дней до нескольких недель. Пожалуйста, учитывайте это при оформлении
      заявки или укажите крайний срок в комментарии.</p>

    <p>Каждый заказ оговаривается лично, поэтому, пожалуйста, указывайте актуальный и наиболее удобный для Вас способ
      связи.</p>

    <p>Любые дополнительные вопросы не стесняйтесь задавать по телефону или по почте.</p>

    <p>Читайте подробнее про условия и способы оплаты и доставки.</p>

    <p>Этот товар есть в наличии, Вы можете его купить или заказать повтор с учетом ваших предпочтений.</p>
  </div>
  <br>
  <div class="container">
    <div class="order-panel text-sm-center">
      Цена : <span class="price" <%= editable 'price', '#' %> > 0 </span> ₽ <br>
      <%= render partial: 'UI/counter', locals: {id: 'order-counter'} %> <br>
      <div class="order-success-msg">Товар добавлен в <span class="open-modal link" data-modal="cart">корзину</span></div> <br>
      <%= link_to 'Заказать повтор', new_cart_path(id: nil), remote: true, class: 'btn btn-lg order-button', daыta: {target: '#order-counter'} %>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
<div class="edit-product-modal clear">
  <div class="edit-attributes">
    <h2 class='modal-product-name' <%= editable 'name', '#' %> ></h2>
    <div class="description ckeditor"></div>
    <div>В наличии: <span class="stock" <%= editable 'stock', '#' %> >0</span></div>
    <div>Цена: <span class="price" <%= editable 'price', '#' %> >0</span></div>
    <div>Коллекция:
      <input id="collection" list="known-collections">
      <datalist id="known-collections">
        <% Category.all.each do | collection | %>
            <option value="<%= collection.name %>"></option>
        <% end %>
      </datalist>
    </div>
    <div>Тэги:</div>
    <select id="tags" multiple="true">
      <% Tag.all.each do | tag | %>
          <option value="<%= tag.name %>"><%= tag.name %></option>
      <% end %>
    </select>
    <button class="btn btn-success save-item">Сохранить</button>
  </div>
  <div class="edit-images">
    <div class="upload-zone">
        Добавить фотографии
        <%= render partial: 'admin/upload_zone' if admin_signed_in? %>
    </div>
    <button class="btn btn-primary save-order">Сохранить порядок</button>
    <div class="images"></div>
  </div>
</div>
<% end %>