<!DOCTYPE html>
<head>
    <title>MintyStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :meta %>
    <%= stylesheet_link_tag 'application'%>
    <%= yield :stylesheets %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= yield :header %>
    <%= yield %>
    <%= javascript_include_tag 'application', params[:controller]%>
    <%= javascript_include_tag 'admin' if user_signed_in? %>
    <%= yield :javascripts %>
</body>