<!DOCTYPE html>
<head>
    <title>MintyStore</title>
    <meta charset="utf-8">
    <%= yield :meta %>
    <%= yield :stylesheets %>
    <%= stylesheet_link_tag 'application', params[:controller]%>
    <%= csrf_meta_tags %>
</head>
<body>
    <div>
      <a href="/">root</a>
      <% @sections.each_pair do | name, url | %>
          <a href="<%= url %>"><%= name %></a>
    <% end %>
      <a href="<%= destroy_user_session_path %>" data-method = 'delete'>sign out</a>
      <a href="<%= new_user_session_path %>">sign in</a>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application', params[:controller]%>
    <%= javascript_include_tag 'admin' if user_signed_in? %>
    <%= yield :javascripts %>
</body>