<!DOCTYPE html>
<head>
  <title>MintyStore</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="nZ9GBgMGB9K0oE7h_xfa1kmBfLd-A4eG6kEptKZ9kYM" />
  <meta name='yandex-verification' content='7eeb91e361cb06f6' />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="stylesheet" href="/vendor/jquery-ui.min.css"/>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
  <%= render partial: '/google_analytics' if Rails.env.production? %>
</head>
<body lang="ru">

<%= render partial: '/flash' %>

<div class="wrapper">
    <%= yield :header %>
    <%= yield :sub_header %>
        <div class="main content medium container">
          <%= yield %>
        </div>
    <%= render partial: '/footer' %>
</div>

<div class="modal-wrapper">
  <%= yield :modals %>
  <%= render partial: '/store/cartModal', locals: {cart: @cart} %>
</div>

<%= javascript_include_tag 'application' %>
<script src="/vendor/jquery-ui.min.js"></script>
<% if admin_signed_in? %>
    <%= javascript_include_tag 'admin' %>
    <script src="/assets/ckeditor/ckeditor.js"></script>
<% end %>
<%= yield :javascripts %>
</body>