<!DOCTYPE html>
<head>
  <title>MintyStore</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="nZ9GBgMGB9K0oE7h_xfa1kmBfLd-A4eG6kEptKZ9kYM" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
  <%= render partial: '/google_analytics' if Rails.env.production? %>
</head>
<body>

<%= render partial: '/flash' %>

<div class="wrapper">
    <%= yield :header %>
    <%= yield :sub_header %>
        <div class="main content medium container">
          <%= yield %>
        </div>
    <%= render partial: '/footer' %>
</div>

<div class="modal-wrapper">
  <%= yield :modals %>
</div>

<%= javascript_include_tag 'application' %>
<% if admin_signed_in? %>
    <%= javascript_include_tag 'admin' if admin_signed_in? %>
    <script src="/assets/ckeditor/ckeditor.js"></script>
<% end %>
<%= yield :javascripts %>
</body>