<% content_for :javascripts do %>
    <script>
        $(function () {
            <% if @product %>
                Modal.show(Products.get(<%= @product.id %>));
            <% end %>

            <% if @tag %>
                Content.tag(<%= @tag.id %>);
            <% end %>
        })
    </script>

    <%= render partial: 'store/json', locals: {products: @products} %>
<% end %>

<%= content_for :sub_header do %>
    <div class="medium container store-controls no-select">
      <ul class='tabs clear'>
        <li class="tags <%= active_tab 'tags' %>" id="tags-tab">Товары</li><!--
     --><li data-url='<%= categories_path %>' class="collections <%= active_tab 'collections' %>" id="collections-tab">Коллекции</li><!--
     --><li data-url="<%= specials_path %>" class="specials <%= active_tab 'specials' %>" id="specials-tab">Акции</li>
      </ul>
      <div class="sub-menu">
        <ul class="tags cloud">
          <%= render partial: @tags %>
        </ul>
        <div class="stocked-check">
          <input type="checkbox" id="stocked">
          <label for="stocked">В наличии</label>
        </div>
      </div>
    </div>
<% end %>

<% content_for :modals do %>
    <%= render partial: 'store/productModal' %>
<% end %>

<%= render template: 'layouts/headered' %>